In [41]:
import pandas as pd
from sqlalchemy import create_engine, inspect

In [42]:
# pip install psycopg2

In [43]:
fact_file = "Transformed_Data/planetary_fact_sheet_transformed.csv"
fact_df = pd.read_csv(fact_file)
fact_df.head()

,Planet,Mass,Diameter,Density,Gravity,Escape Velocity,Rotation Period,Length of Day,Distance from Sun,Perihelion,Aphelion,Orbital Period,Orbital Velocity,Orbital Inclination,Orbital Eccentricity,Obliquity to Orbit,Mean Temperature,Number of Moons,Ring System?
0,Mercury,0.330,4879,5427,3.7,4.3,1407.6,4222.6,57.9,46.0,69.8,88.0,47.4,7.0,0.205,0.034,167,0,No
1,Venus,4.870,12104,5243,8.9,10.4,-5832.5,2802.0,108.2,107.5,108.9,224.7,35.0,3.4,0.007,177.400,464,0,No
2,Earth,5.970,12756,5514,9.8,11.2,23.9,24.0,149.6,147.1,152.1,365.2,29.8,0.0,0.017,23.400,15,1,No
3,Mars,0.642,6792,3933,3.7,5.0,24.6,24.7,227.9,206.6,249.2,687.0,24.1,1.9,0.094,25.200,-65,2,No
4,Jupiter,1898.000,142984,1326,23.1,59.5,9.9,9.9,778.6,740.5,816.6,4331.0,13.1,1.3,0.049,3.100,-110,79,Yes

In [44]:
fact_db = fact_df.set_index('Planet')
fact_db

,Mass,Diameter,Density,Gravity,Escape Velocity,Rotation Period,Length of Day,Distance from Sun,Perihelion,Aphelion,Orbital Period,Orbital Velocity,Orbital Inclination,Orbital Eccentricity,Obliquity to Orbit,Mean Temperature,Number of Moons,Ring System?
Planet,,,,,,,,,,,,,,,,,,
Mercury,0.3300,4879,5427,3.7,4.3,1407.6,4222.6,57.9,46.0,69.8,88.0,47.4,7.0,0.205,0.034,167,0,No
Venus,4.8700,12104,5243,8.9,10.4,-5832.5,2802.0,108.2,107.5,108.9,224.7,35.0,3.4,0.007,177.400,464,0,No
Earth,5.9700,12756,5514,9.8,11.2,23.9,24.0,149.6,147.1,152.1,365.2,29.8,0.0,0.017,23.400,15,1,No
Mars,0.6420,6792,3933,3.7,5.0,24.6,24.7,227.9,206.6,249.2,687.0,24.1,1.9,0.094,25.200,-65,2,No
Jupiter,1898.0000,142984,1326,23.1,59.5,9.9,9.9,778.6,740.5,816.6,4331.0,13.1,1.3,0.049,3.100,-110,79,Yes
Saturn,568.0000,120536,687,9.0,35.5,10.7,10.7,1433.5,1352.6,1514.5,10747.0,9.7,2.5,0.057,26.700,-140,82,Yes
Uranus,86.8000,51118,1271,8.7,21.3,-17.2,17.2,2872.5,2741.3,3003.6,30589.0,6.8,0.8,0.046,97.800,-195,27,Yes
Neptune,102.0000,49528,1638,11.0,23.5,16.1,16.1,4495.1,4444.5,4545.7,59800.0,5.4,1.8,0.011,28.300,-200,14,Yes
Pluto,0.0146,2370,2095,0.7,1.3,-153.3,153.3,5906.4,4436.8,7375.9,90560.0,4.7,17.2,0.244,122.500,-225,5,No

In [45]:
connection_string = "postgres:Diamond96@localhost:5432/ETL_Project_Mars"
engine = create_engine(f'postgresql://{connection_string}')

In [46]:
inspector=inspect(engine)
columns=inspector.get_columns('facts')
for column in columns:
    print(column)

{'name': 'Planet', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Mass', 'type': NUMERIC(precision=18, scale=4), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Diameter', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Density', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Gravity', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Escape Velocity', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Rotation Period', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Length of Day', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Distance from Sun', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Perihelion', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Aphelion', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Orbital Period', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Orbital Velocity', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Orbital Inclination', 'type': NUMERIC(precision=18, scale=1), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Orbital Eccentricity', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Obliquity to Orbit', 'type': NUMERIC(precision=18, scale=3), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Mean Temperature', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Number of Moons', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'Ring System?', 'type': BOOLEAN(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}

In [47]:
engine.table_names()

['facts']

In [49]:
fact_db.to_sql(name='facts', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "facts_pkey"
DETAIL:  Key ("Planet")=(Mercury) already exists.

[SQL: INSERT INTO facts ("Planet", "Mass", "Diameter", "Density", "Gravity", "Escape Velocity", "Rotation Period", "Length of Day", "Distance from Sun", "Perihelion", "Aphelion", "Orbital Period", "Orbital Velocity", "Orbital Inclination", "Orbital Eccentricity", "Obliquity to Orbit", "Mean Temperature", "Number of Moons", "Ring System?") VALUES (%(Planet)s, %(Mass)s, %(Diameter)s, %(Density)s, %(Gravity)s, %(Escape Velocity)s, %(Rotation Period)s, %(Length of Day)s, %(Distance from Sun)s, %(Perihelion)s, %(Aphelion)s, %(Orbital Period)s, %(Orbital Velocity)s, %(Orbital Inclination)s, %(Orbital Eccentricity)s, %(Obliquity to Orbit)s, %(Mean Temperature)s, %(Number of Moons)s, %(Ring System?)s)]
[parameters: ({'Planet': 'Mercury', 'Mass': 0.33, 'Diameter': 4879, 'Density': 5427, 'Gravity': 3.7, 'Escape Velocity': 4.3, 'Rotation Period': 1407.6, 'Length of Day': 4222.6, 'Distance from Sun': 57.9, 'Perihelion': 46.0, 'Aphelion': 69.8, 'Orbital Period': 88.0, 'Orbital Velocity': 47.4, 'Orbital Inclination': 7.0, 'Orbital Eccentricity': 0.205, 'Obliquity to Orbit': 0.034, 'Mean Temperature': 167, 'Number of Moons': 0, 'Ring System?': 'No'}, {'Planet': 'Venus', 'Mass': 4.87, 'Diameter': 12104, 'Density': 5243, 'Gravity': 8.9, 'Escape Velocity': 10.4, 'Rotation Period': -5832.5, 'Length of Day': 2802.0, 'Distance from Sun': 108.2, 'Perihelion': 107.5, 'Aphelion': 108.9, 'Orbital Period': 224.7, 'Orbital Velocity': 35.0, 'Orbital Inclination': 3.4, 'Orbital Eccentricity': 0.006999999999999999, 'Obliquity to Orbit': 177.4, 'Mean Temperature': 464, 'Number of Moons': 0, 'Ring System?': 'No'}, {'Planet': 'Earth', 'Mass': 5.97, 'Diameter': 12756, 'Density': 5514, 'Gravity': 9.8, 'Escape Velocity': 11.2, 'Rotation Period': 23.9, 'Length of Day': 24.0, 'Distance from Sun': 149.6, 'Perihelion': 147.1, 'Aphelion': 152.1, 'Orbital Period': 365.2, 'Orbital Velocity': 29.8, 'Orbital Inclination': 0.0, 'Orbital Eccentricity': 0.017, 'Obliquity to Orbit': 23.4, 'Mean Temperature': 15, 'Number of Moons': 1, 'Ring System?': 'No'}, {'Planet': 'Mars', 'Mass': 0.642, 'Diameter': 6792, 'Density': 3933, 'Gravity': 3.7, 'Escape Velocity': 5.0, 'Rotation Period': 24.6, 'Length of Day': 24.7, 'Distance from Sun': 227.9, 'Perihelion': 206.6, 'Aphelion': 249.2, 'Orbital Period': 687.0, 'Orbital Velocity': 24.1, 'Orbital Inclination': 1.9, 'Orbital Eccentricity': 0.094, 'Obliquity to Orbit': 25.2, 'Mean Temperature': -65, 'Number of Moons': 2, 'Ring System?': 'No'}, {'Planet': 'Jupiter', 'Mass': 1898.0, 'Diameter': 142984, 'Density': 1326, 'Gravity': 23.1, 'Escape Velocity': 59.5, 'Rotation Period': 9.9, 'Length of Day': 9.9, 'Distance from Sun': 778.6, 'Perihelion': 740.5, 'Aphelion': 816.6, 'Orbital Period': 4331.0, 'Orbital Velocity': 13.1, 'Orbital Inclination': 1.3, 'Orbital Eccentricity': 0.049, 'Obliquity to Orbit': 3.1, 'Mean Temperature': -110, 'Number of Moons': 79, 'Ring System?': 'Yes'}, {'Planet': 'Saturn', 'Mass': 568.0, 'Diameter': 120536, 'Density': 687, 'Gravity': 9.0, 'Escape Velocity': 35.5, 'Rotation Period': 10.7, 'Length of Day': 10.7, 'Distance from Sun': 1433.5, 'Perihelion': 1352.6, 'Aphelion': 1514.5, 'Orbital Period': 10747.0, 'Orbital Velocity': 9.7, 'Orbital Inclination': 2.5, 'Orbital Eccentricity': 0.057, 'Obliquity to Orbit': 26.7, 'Mean Temperature': -140, 'Number of Moons': 82, 'Ring System?': 'Yes'}, {'Planet': 'Uranus', 'Mass': 86.8, 'Diameter': 51118, 'Density': 1271, 'Gravity': 8.7, 'Escape Velocity': 21.3, 'Rotation Period': -17.2, 'Length of Day': 17.2, 'Distance from Sun': 2872.5, 'Perihelion': 2741.3, 'Aphelion': 3003.6, 'Orbital Period': 30589.0, 'Orbital Velocity': 6.8, 'Orbital Inclination': 0.8, 'Orbital Eccentricity': 0.046, 'Obliquity to Orbit': 97.8, 'Mean Temperature': -195, 'Number of Moons': 27, 'Ring System?': 'Yes'}, {'Planet': 'Neptune', 'Mass': 102.0, 'Diameter': 49528, 'Density': 1638, 'Gravity': 11.0, 'Escape Velocity': 23.5, 'Rotation Period': 16.1, 'Length of Day': 16.1, 'Distance from Sun': 4495.1, 'Perihelion': 4444.5, 'Aphelion': 4545.7, 'Orbital Period': 59800.0, 'Orbital Velocity': 5.4, 'Orbital Inclination': 1.8, 'Orbital Eccentricity': 0.011000000000000001, 'Obliquity to Orbit': 28.3, 'Mean Temperature': -200, 'Number of Moons': 14, 'Ring System?': 'Yes'}, {'Planet': 'Pluto', 'Mass': 0.0146, 'Diameter': 2370, 'Density': 2095, 'Gravity': 0.7, 'Escape Velocity': 1.3, 'Rotation Period': -153.3, 'Length of Day': 153.3, 'Distance from Sun': 5906.4, 'Perihelion': 4436.8, 'Aphelion': 7375.9, 'Orbital Period': 90560.0, 'Orbital Velocity': 4.7, 'Orbital Inclination': 17.2, 'Orbital Eccentricity': 0.244, 'Obliquity to Orbit': 122.5, 'Mean Temperature': -225, 'Number of Moons': 5, 'Ring System?': 'No'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)